body {
    /* background-color: #8d99ae; */
    background: linear-gradient(to left, rgb(247, 245, 244), rgb(0, 0, 0));
    margin: 0%;
    overflow-x: hidden;
  }

.home-page{
  position: relative;
  width: 100%;
  height: 100vh;
  align-content:center;
}

/*FOR SVG*/
/*-------------------------------------------------------------------------------------------------*/
.up-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    line-height: 0;
    margin: 0%;
}
  
.up-wave svg {
    position: sticky;
    display: block;
    top: 0;
    left: 0;
    width: calc(200% + 1.3px);
    height: auto;
    bottom: auto;

} 
.up-wave .shape-fill {
    fill: #2b2d42;  
}   
 @keyframes wave-animation {
    from { transform: translateX(-20%); } 
    to { transform: translateX(20); }        
  }
  .up-wave .animate-wave  {
    animation: wave-animation 60s  alternate infinite;
    animation-fill-mode: forwards;
}
/*-------------------------------------------------------------------------------------------------*/
.down-wave {
    position:absolute; 
    bottom: -1%;
    left: 0%;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.down-wave svg {
    position: sticky;
    display: block;
    width: calc(200% + 1.3px); 
    height: 0%;
}
.down-wave .shape-fill {
    fill: #38393a;
}
.down-wave .animate-wave {
    animation: wave-animation 40s alternate infinite;
  }
  @keyframes wave-animation {
    from { transform: translateX(-50%); } 
    to { transform: translateX(20); }        
  }
/*-------------------------------------------------------------------------------------------------*/

/*FOR PROFILE*/
.logo{
    background-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    width: 25%;
    height: auto;
    left:70%;
    bottom:0%;
    border-radius: 50%; 
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .logo img{
    width: 100%;  
    height: 100%;
    object-fit: fill;
    z-index: 2; 
  }


/*FOR NAME*/
.p1{
    position: absolute; 
    top: 15%; 
    left: 10%; 
    text-align: center; 
    color: #ffffff; 
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
    font-size: clamp(20px, 1vw + 1rem, 40px);
    z-index: 1;
    font-style: italic;
  }
  .p2{
    position: absolute; 
    top: 45%; 
    left:10%; 
    text-align: center; 
    color: #ffffff; 
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
    font-size: clamp(20px, 1vw + 1rem, 40px);
    z-index: 1;
    font-style: italic;
  }
.name{
    position: absolute; 
    top: 40%; 
    left: 10%; 
    text-align: center; 
    color: #000000; 
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
    font-size: clamp(20px, 4vw + 1rem, 100px);
    z-index: 1;
    /* font-style: italic; */
  }

  .typing-effect {
    border-right: 5px solid forestgreen;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
    top: 30%; 
    left: 10%; 
    position: absolute;
    text-align: center; 
    color: rgb(30, 255, 0); 
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
}


/*FOR NAVIGATION*/
.navigation {
    z-index: 3000  ;
    position: fixed; 
    top: 0;
    /* right:20%;  */
    display: flex; 
    align-items: center;
    justify-content:right;
    padding: 1% 0%;
    /* background-color: transparent;  */
    background-color: #2b2d42;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100vw;
  }
  .navigation a {
    color:white; 
    text-decoration: none; 
    margin-right: 5%;
    font-weight: bold;
    font-size: clamp(10px, 1vw + .1rem, 100px);
    left: -10%;

  }
  .navigation a:hover {
    color:  #8d99ae;
    font-size:larger;
  }
  .dropdown-button{
    display:none;
    position: relative;
    }    
  .dropdown-content{
    display:none;
    position: relative;
  }

  
  /* Hamburger Menu Button Styles*/
  /* .nav-toggle {
    display: none; 
    padding: 10px;
    border: none;
    background-color: blue;
    cursor: pointer;
  }
  .nav-toggle span.bar {
    display: block;
    width: 30%;
    height: 10%;
    background-color: #ffffff;
    margin-bottom: 0%;
  } */
  /* Responsive Styles */
  /* @media (max-width: 620px) {
    .navigation {
      position: absolute; 
      top: 100%; 
      left: 0;
      width: 100%; 
      background-color: #000000; 
      box-shadow: none; 
    }
    .navigation.active {
      top: 0; 
      transition: top 0.3s ease-in-out; 
    }
    .nav-toggle {
      display: block; 
    }
  } */
/*---------------------------------------------HOME PAGE--------------------------------------------------------*/

/* ABOUT PAGE*/
.about-page{
  position:relative;
  /* display: inline-block; */
  background-color: #38393a;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns, equal width */
  grid-gap: 2rem;  /* Optional gap between elements */
} 

.about-me-heading{
  font-size: clamp(35px, 3.5vw + 1rem, 100px);
  position: relative;
  left: 10%;
  top: 1%;
  color: #fff;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
}

.about-me{
  font-size: clamp(5px, 1.1vw + .7rem, 40px);
  position: absolute;
  left: 7%;
  top: 15%;
  color: #fff;
  width: 60vw;
  font-style: italic;
  word-wrap: break-word;
}

.example {
  float: right;
  position: relative;
  width: 80%;
  padding-top: 50%;
  margin: 2rem auto;
  left: 8%;
  bottom: -10%;
  
  > .block {
      position: absolute;
      height: 100%;
      width: 30%;
      perspective: 1000px;
      
      &:nth-of-type(1) {
        height: 100%;
          top: 30%;
          left: 20%;
          width: 15%;
      }
      
      &:nth-of-type(2) {
          top: 30%;
          left: 36.5%;
      }
      
      &:nth-of-type(3) {
        height: 90%;
          top: 35%;
          left: 65%;
          width: 15%;
      }
  }
  
  > .block > .side {
      position: absolute;
      top: 0;
      left: 0;
      background-image: url('./assets/Profile.png');
      background-size: auto 100%;
      box-shadow: -1vw .5vw 1vw rgba(159, 189, 243, 0.74);
      
      &.-main {  
          height: 100%;
          width: 100%;
          transform: rotateY(30deg);
          transform-origin: 0 50%;
      }
      
      &.-left {
          height: 100%;
          width: 20%;
          transform-origin: 0 50%;
          transform: rotateY(-60deg) translateX(-100%);
          filter: brightness(40%);
      }
  }
  
  > .block:nth-of-type(1) > .side {
      &.-main {
          background-position: 4% 50%;
          background-size: auto 130%;
      }
      
      &.-left {
          background-position: 0 50%;
          background-size: auto 130%;
      }
  }
  
  > .block:nth-of-type(2) > .side {
      &.-main {
          background-position: 50% 0;
      }
      
      &.-left {
          background-position: 28.5% 0;
      }
  }
  
  > .block:nth-of-type(3) > .side {
      &.-main {
          background-position: 96% 50%;
          background-size: auto 130%;
      }
      
      &.-left {
          background-position: 78% 50%;
          background-size: auto 130%;
      }
  }
}

/*-------------------------------------------------------------------------------------------------*/

.project-page{
  position:relative;
  display: inline-block;
  background-color: #38393a;
  width: 100%;
  height: 100vh;
}
.project-heading{
  font-size: clamp(35px, 3.5vw + 1rem, 100px);
  position: relative;
  left: 5%;
  top: -50%;
  color: #fff;
  z-index: 1000;
  font-weight: bold;
  line-height: 1.3em;
  text-shadow: 0 5px 10px #0004;
}

.svg-project-page{
  position: absolute;
  left: 0%;
  z-index: 600;
  width: 100vw;
}

/* slider section  */

.slider{
  height: 100vh;
  top: 0%;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.title{
  top: 10%;
}
.slider .list .item{
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.slider .list .item img{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.slider .list .item .content{
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #000000 ;
  text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title{
  font-size: clamp(35px, 2vw + 1rem, 100px);
  font-weight: bold;
  line-height: 1.3em;
  margin-top: -10%;
  margin-left: -10%;
  width: 10vw;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.267);
  -webkit-text-stroke: .5px black;
}
.code-check{
  font-size: clamp(35px, 2vw + 1rem, 100px);
  font-weight: bold;
  line-height: 1.3em;
  margin-top: -10%;
  margin-left: -10%;
  width: 10vw;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.267);
  -webkit-text-stroke: .5px black;
  color: white;
}
.type1{
  margin-top: 0%;
  font-size: clamp(20px, 1vw + 1rem, 50px);
  font-weight: bold;
  line-height: 1.3em;
  margin-top: 15%;
  text-shadow: 0 5px 10px #0004;
  color: beige;
}
.type2{
  margin-top: 1%;
  font-size: clamp(20px, 1vw + 1rem, 50px);
  font-weight: bold;
  line-height: 1.3em;
  margin-top: 0%;
  text-shadow: 0 5px 10px #0004;
  color: beige;
}

.slider .list .item .content .type{
  font-size: clamp(20px, 1vw + 1rem, 50px);
  font-weight: bold;
  line-height: 1.3em;
  margin-top: 15%;
  text-shadow: 0 5px 10px #0004;
  color: beige;
}
.slider .list .item .type{
  color: #ffffff;
}

.projectTitle{
  position: absolute;
  font-size: clamp(20px, 1vw + 1rem, 50px);
  font-weight: bold;
  line-height: 1.3em;
  margin-top: -20%;
  margin-left: 95%;
  text-shadow: 0 5px 10px #0004;
  color: beige;
  z-index: 4000;
}

.description{
  color: rgb(255, 255, 255);
  font-size: clamp(5px, .6vw + .5rem, 20px);
  background-color: #000000;
  border-radius: 20px;
  padding: 2%;
  width: 20vw;
  height: auto;
  margin-left: -15%;
  margin-top: 1%;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.267);
}
.slider .list .item .titleHeading{
  font-size: clamp(30px, 3.5vw + 1rem, 200px);
  position: relative;
  left: 5%;
  top: -50%;
  color: #fff;
  z-index: 1000;
  font-weight: bold;
  line-height: 1.3em;
  text-shadow: 0 5px 10px #0004;
}


.slider .list .item .button{
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
  margin-left: 140.9%;
}
.slider .list .item .button button{
  border: none;
  background-color: #eee;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s;
  letter-spacing: 2px;
}


.slider .list .item .button button:hover{
  letter-spacing: 3px;
}
.slider .list .item .button button:nth-child(2){
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}





/* Thumbnail Section  */
.thumbnail{
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}

.thumbnail .item{
  width: 10vw;
  height: 30vh;
  flex-shrink: 0;
  position: relative; 
}

.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
  border: 2px solid black;
}


/* nextPrevArrows Section  */
.nextPrevArrows{
  position: absolute;
  top: 80%;
  right: 60%;
  z-index: 100;
  width: 100%;
  max-width: 30%;
  display: flex;
  gap: 10%;
  align-items: center;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}
.nextPrevArrows button{
  width: 5vw;
  height: 10vh;
  border-radius: 50%;
  background-color: #14ff72cb;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: .5s;
  cursor: pointer;
  font-size:300%;
}
.nextPrevArrows button:hover{
  background-color: #fff;
  color: #000;
}

/* Animation Part */
.slider .list .item:nth-child(1){
  z-index: 1;
}


/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons
{
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
  to{
      transform: translateY(0px);
      filter: blur(0px);
      opacity: 1;
  }
}
.slider .list .item:nth-child(1) .content .title{
  animation-delay: 0.4s !important;
}
.slider .list .item:nth-child(1) .content .type{
  animation-delay: 0.6s !important;
}
.slider .list .item:nth-child(1) .content .description{
  animation-delay: 0.8s !important;
}
.slider .list .item:nth-child(1) .content .buttons{
  animation-delay: 1s !important;
}




/* Animation for next button click */
.slider.next .list .item:nth-child(1) img{
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage .5s linear 1 forwards;
}

@keyframes showImage{
  to{
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
  }
}

.slider.next .thumbnail .item:nth-last-child(1){
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}
.slider.prev .list .item img{
  z-index: 100;
}


@keyframes showThumbnail{
  from{
      width: 0;
      opacity: 0;
  }
}


.slider.next .thumbnail{
  animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
  from{
      transform: translateX(150px);
  }
}



/* Animation for prev button click */
.slider.prev .list .item:nth-child(2){
  z-index: 2;
}

.slider.prev .list .item:nth-child(2) img{
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame{
  to{
      width: 150px;
      height: 220px;
      bottom: 50px;
      left: 50%;
      border-radius: 20px;
  }
}

.slider.prev .thumbnail .item:nth-child(1){
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail .5s linear 1 forwards;
}
.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button{
  pointer-events: none;
}


.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons
{
  animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
  to{
      transform: translateY(-150px);
      filter: blur(20px);
      opacity: 0;
  }
}
@media screen and (max-width: 678px) {
  .slider .list .item .content{
      padding-right: 0;
  }
  .slider .list .item .content .title{
    top: -15%;
    font-size: 30px;
  }
}
/*-------------------------------------------------------------------------------------------------*/
.certificate-page{
  position:relative;
  display: inline-block;
  background-color:#38393a;
  width: 100%;
  height: 100vh;
  margin-top: -.3%;
}

.certificate-heading{
  font-size: clamp(35px, 4vw + 1rem, 100px);
  position: relative;
  left: 40%;
  color: #fff;
}
.content1{
  display: flex;
  /* justify-content: space-between; */
}

.left-container{
  position: relative;
  background-color:#38393a;
  width: 25vw;
  height: 85vh;
  margin-left: 2%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 5px 0px rgb(0, 0, 0);
  color: white;
  /* overflow-y:scroll ; */
}
.left-container div{
  cursor: pointer;
  position: relative;
  width: 20vw;

}
.sub-training-certificate span, .sub-workshop-certificate span, .sub-nc2-certificate span, .sub-cisco-certificate span{ 
  display: flex; 
  position: relative;
  flex-direction: column;
  justify-content:center;
  cursor: pointer;
}


.first-right-container{
  position: relative;
  background-color: #38393a;
  width: 65vw;
  height: 81vh;
  padding: 1%;
  margin-left: 2%;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0px 2px 5px 0px rgb(0, 0, 0);
  border-radius: 4vh;
}
.second-right-container{  
  position: relative;
  background-color: black;
  width: 64.7vw;
  height: 80vh;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4vh;
  box-shadow: 0px 2px 5px 0px  rgb(255, 255, 255);
    overflow: scroll;
}
.second-right-container img{
  width: 100%;  
  height: 100%;
  object-fit:contain;
  z-index: 2;  
  border-radius: 4vh;
}
.subCert{
  /* position: relative; */
  top: 15%;
  /* font-size: 1.3rem; */
  display: flex;
  flex-direction: column;
}
.sub-training-certificate, .sub-workshop-certificate, .sub-nc2-certificate, .sub-cisco-certificate{
  display: none;
}

.subsubCert:hover{
/* background-color: black;
border: 2px solid black;
border-radius:10px; */
/* color: rgb(113, 236, 13); */
  font-size: 1.3rem;
}
.subsubCert{
  /* background-color: lightblue;
  border: 1px solid lightblue;
  border-radius:10px; */
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, .5);

}
.cert:hover{
  /* background-color: rgb(0, 0, 0); */
  /* color: rgb(255, 174, 0); */
  font-size: xx-large;
}

.cert{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  font-size: clamp(5px, 1vw + 1rem, 50px);
  background-color: transparent;
  /* border-radius:10px; */
  /* border: 1px solid black; */
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, .5);
  width: 100vw;
  height: auto;
  overflow: hidden;
}
.subCert{
  /* left: 1%; */
  top: auto;
}
.clicked{
  color: skyblue;
}
/*-------------------------------------------------------------------------------------------------*/
.testimonial-page{
  position:relative;
  display: inline-block;
  background-color: #100e17;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 70vh;
}

.testimonial-heading{
  font-size: clamp(35px, 3.5vw + 1rem, 100px);
  position: relative;
  width: 5vw;
  left: 10%;
  top: 5%;
  color: #fff;
}

.container {
  position: absolute;
  height: 70%;
  width: 70%;
  top: 25%;
  /* left: calc(38% - 300px); */
  left: 17%;
  display: flex;
  justify-content: center;
}

.card {
  top: 10%;
  display: flex;
  height: 80%;
  width: 50%;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  margin-left: -50px;
  transition: 0.4s ease-out;
  position: relative;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-size: clamp(5px, .5vw + 1rem, 40px);
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 30%;
  left: 10%;
  height: 1%;
  width: 50%;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgb(1, 223, 57) 65%, rgb(212, 12, 186) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 50%;
  /* left: calc(30% - 90px); */
  left: 10%;
  color: #eee;
}
.testimonial{
    color: #eee;
  font-size: clamp(10px, .5vw + .5rem, 40px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
/*-------------------------------------------------------------------------------------------------*/
.contact-page{
  position:relative;
  display: inline-block;
  background-color:#38393a;
  width: 100%;
  height: 50vh;
  /* margin-top: -.3%; */

}

#contacts {
  text-align: center;
  padding: 50px 20px;
  background-color: #f9f9f9;
}
#contacts h2 {
  font-size: clamp(35px, 3.5vw + 1rem, 100px);
  margin-bottom: 30px;
  margin-top: 0;
}
.contacts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.contacts-item {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
  transition: transform 0.3s ease;
}
.contacts-item:hover {
  transform: translateY(-10px);
}
.contacts-item h3, .contacts-item h4 {
  margin: 5px 0;
}
.contacts-item h3 {
  font-size: clamp(20px, .5vw + 1rem, 40px);
}
.contacts-item h4 {
  font-size: clamp(20px, .5vw + 1rem, 40px);
  color: #666;
}
.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.contact-info img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.contact-info a {
  margin: 0;
  color: #000;
  text-decoration:none;
 
}
.contact-info p{
  font-size: clamp(5px, .5vw + 1rem, 40px);
  font-style: italic;
}

/*-------------------------------------------------------------------------------------------------*/
